:root {
    --color-grey: #333;
    --color-secondgrey: #555;
    --color-thirdgrey: #999;
    --color-fourthgrey: #ddd;
    --color-black: #000;
    --color-white: #fff;
    --color-mainblue: #0096d6;
    --color-secondblue: #80d8fe;
    --color-wheat: #fff3de;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    color: var(--color-black);
    background-color: var(--color-wheat);
}

/* Main header styles */
header {
    background-color: var(--color-secondgrey);
    margin-bottom: 20px;
}

header div#main-header {
    font-family: "Sofia Sans", serif;
    font-size: 20px;
    padding: 60px;
    text-align: center; /* aligns content horizontally to the center */
    background-color: var(--color-grey);
    color: var(--color-secondblue);
}

/* NavBar styles */
div#main-nav {
    padding: 3px 0;
}

div#main-nav ul {
    display: flex;
    justify-content: space-around; /* puts space around the elements */
    align-content: center;
    list-style: none;
    text-align: center;
}

div#main-nav ul li {
    width: 10%;
    font-size: 18px;
    padding: 6px;
}

/* link styles */
div#main-nav ul li a {
    display: flex; /* to easily center the content of each link */
    justify-content: center;
    color: var(--color-secondblue);
    position: relative;
}

div#main-nav ul li a:hover {
    color: var(--color-mainblue);
}

/* main style */
body main {
    margin: 40px 40px 0;
}

/* underline appearance for links */
div#main-nav ul li a::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-mainblue);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
    border-radius: 3px;
}

div#main-nav ul li a:hover:after {
    opacity: 1;
}

/* aside styles */
div#aside1 {
    float: left;
    width: 300px;
    margin: 37px 10px 0 0;
}
