@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: rgb(0, 0, 0);
  color: white;
}

/* Main header */
.title {
  text-align: center;
  color: #0066cc;
  padding: 35px;
  font-size: 2.2rem;
  background-color: #333; /* Set initial background color to grey */
}

.title:hover {
  animation: titleBackgroundAnimation 5s infinite;
}

/* Animation for title background color */
@keyframes titleBackgroundAnimation {
  0% {
    background-color: #333; /* Initial grey color */
  }
  50% {
    background-color: #0066cc; /* Transition to blue */
  }
  100% {
    background-color: #333; /* Reset to grey */
  }
}

/* Navigation */
nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  position: relative;
  top: -10px;
}

nav ul li {
  flex: 1;
  padding: 20px;
  background-color: #161616;
}

/* Link styles */
a {
  color: white; /* Set your desired color */
  font-size: 1.2rem;
}

a:hover {
  color: #0066cc; /* Set your desired color for hover effect */
  border-bottom: 4px solid #0066cc;
  transition: 0.3s ease;
}

a:visited {
  color: #004080; /* Set your desired color for visited links */
}

/* Active page styles */
.active {
  color: #0066cc;
  border-bottom: 4px solid #0066cc;
}
